body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex-grow: 1;
  padding: 20px;
}

#deleteIcon {
  color: rgb(168, 3, 3);
  font-size: 20px;
  cursor: pointer;
}

#optionIcon {
  color: grey;
  font-size: 20px;
  cursor: pointer;
}

#deleteIcon:hover {
  transition: 0.5s;
  font-size: 25px;
  color: red;
}

#optionIcon:hover {
  transition: 0.5s;
  font-size: 25px;
  color: black;
}
