body, html {
    height: 100%; /* Χρειάζεται για να λειτουργήσει σωστά το grid layout */
    margin: 0;
    overflow: hidden; /* Αποκρύπτει την κύλιση σε όλη τη σελίδα */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
}

#map {
    height: 1080px;
    width: 1920px;
}

  #vehicleCargoDetails {
    position: fixed; /* ή absolute αν θέλετε να είναι σε σχέση με έναν γονέα container */
    top: 50px; /* ή άλλη τιμή ανάλογα με τη θέση που θέλετε */
    right: 50px; /* ή άλλη τιμή ανάλογα με τη θέση που θέλετε */
    width: 300px; /* Προαιρετικά, ανάλογα με το περιεχόμενο */
    background-color: #430063;
    color: gold;
    border-radius: 15px;
    padding: 10px;
    display: none; /* Αρχικά κρυμμένο */
    z-index: 1000; /* Βεβαιωθείτε ότι είναι υψηλότερο από το z-index του χάρτη */
}

#cargoList {
    max-height: 250px; /* Ορίζετε το μέγιστο ύψος που επιθυμείτε */
    overflow-y: auto; /* Ενεργοποιείτε κύλιση κατακόρυφα αν ο χώρος δεν επαρκεί */
    margin-bottom: 20px; /* Δίνετε επιπλέον χώρο κάτω από τη λίστα */
}

.cargo-item {
    border-bottom: 1px solid #ddd; /* Γραμμή για το διαχωρισμό των στοιχείων */
    padding: 5px 0; /* Προσθέτει μικρό κενό για κάθε στοιχείο */
    display: flex;
    justify-content: space-between; /* Διαχωρίζει τις στήλες Είδος και Ποσότητα */
}

.cargo-item:last-child {
    border-bottom: none; /* Αφαιρεί τη γραμμή από το τελευταίο στοιχείο */
}

.cargo-item div {
    flex: 1; /* Κάθε στήλη καταλαμβάνει ίσο χώρο */
    text-align: center; /* Κεντραρισμένο κείμενο */
}

.cargo-item div:first-child {
    border-right: 1px solid #ddd; /* Καθέτη γραμμή μεταξύ των στηλών */
    flex: 1;
}

.cargo-header {
    font-weight: bold; /* Δίνει έμφαση στις επικεφαλίδες */
    display: flex;
    justify-content: space-between; /* Διασφαλίζει την ίδια διάταξη με τα στοιχεία */
    border-bottom: 1px solid #ddd; /* Προαιρετικό, γραμμή κάτω από τις επικεφαλίδες */
}

.cargo-header div:first-child, .cargo-item div:first-child {
    border-right: 1px solid #ddd; /* Προσθήκη καθέτης γραμμής διαχωρισμού */
}

.cargo-header, .cargo-item {
    display: flex;
    justify-content: space-between;
}

.cargo-header div, .cargo-item div {
    flex: 1; /* Κάθε στήλη καταλαμβάνει ίσο χώρο */
    text-align: center; /* Κεντραρισμένο κείμενο */
}

.cargo-details {
    border-top: 1px solid #ddd; /* Καθέτη γραμμή κάτω από τον τίτλο Φορτίο Οχήματος */
}

.cargo-title {
    border-bottom: 1px solid #ddd; /* Καθέτη γραμμή κάτω από τον τίτλο */
    font-size: 35px;

}

/* Προσαρμογή του στύλ της μπάρας κύλισης για το WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Πλάτος της μπάρας κύλισης */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Χρώμα του φόντου της μπάρας κύλισης */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Χρώμα της μπάρας κύλισης */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Χρώμα της μπάρας κύλισης κατά τον κατάδειγμα */
}

/* Προσαρμογή του στύλ της μπάρας κύλισης για τα υπόλοιπα προγράμματα περιήγησης */
scrollbar {
    width: 10px; /* Πλάτος της μπάρας κύλισης */
}

scrollbar-track {
    background: #f1f1f1; /* Χρώμα του φόντου της μπάρας κύλισης */
}

scrollbar-thumb {
    background: #888; /* Χρώμα της μπάρας κύλισης */
}

scrollbar-thumb:hover {
    background: #555; /* Χρώμα της μπάρας κύλισης κατά τον κατάδειγμα */
}