body, html {
    height: 100%; /* Χρειάζεται για να λειτουργήσει σωστά το grid layout */
    margin: 0;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    margin: 2vh 0 0 0;
}

#map {
    height: 90vh;
    width: 80vw;
}

.leaflet-top.leaflet-left {
    top: 2%;
    left: 10px;
}

#vehicleCargoDetails {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 300px;
    background-color: #430063;
    color: gold;
    border-radius: 15px;
    padding: 10px;
    display: none; 
    z-index: 1000;
}

#cargoList {
    max-height: 250px; 
    overflow-y: auto;
    margin-bottom: 20px;
}

.cargo-item {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.cargo-item:last-child {
    border-bottom: none;
}

.cargo-item div {
    flex: 1;
    text-align: center;
}

.cargo-item div:first-child {
    border-right: 1px solid #ddd;
    flex: 1;
}

.cargo-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd
}

.cargo-header div:first-child, .cargo-item div:first-child {
    border-right: 1px solid #ddd;
}

.cargo-header, .cargo-item {
    display: flex;
    justify-content: space-between;
}

.cargo-header div, .cargo-item div {
    flex: 1;
    text-align: center;
}

.cargo-details {
    border-top: 1px solid #ddd;
}

.cargo-title {
    border-bottom: 1px solid #ddd;
    font-size: 35px;

}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Χρώμα του track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Χρώμα της λαβής */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


scrollbar {
    width: 10px;
}

scrollbar-track {
    background: #f1f1f1;
}

scrollbar-thumb {
    background: #888; 
}

scrollbar-thumb:hover {
    background: #555; 
}