body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.main {
    position: relative;
    flex-grow: 1; /* Take up the remaining space */
    padding: 20px; /* Padding around the content */
  }

.chart-container {
    width: 80%;
    margin: 2% 10%; /* Κεντράρισμα του γραφήματος */
    transition: width 0.5s;
}

.canvas-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

.chart-container.doughnut {
    width: 40%; /* Μικρότερο πλάτος για το doughnut */
}

#date-filter {
    margin: 2% 10%;
    background-color: #430063; /* Μωβ φόντο */
    padding: 20px;
    border-radius: 25px;
    justify-content: center;
    color: gold; /* Χρυσά γράμματα */
    display: inline-flex; /* Για να μην απλώνεται σε όλο το πλάτος */
    width: 60vw;
    height: 8vh;
}

.date, #date-filter label, #date-filter button {
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: gold; /* Χρυσά στοιχεία */
}

#date-filter label {
    padding: 0;
    align-self: center;
}

.date {
    color: initial;
    font-size: 15px;
    border-radius: 25px;
    width: 14vw;
}

#date-filter button {
    font-size: 15px;
    align-self: center;
    background-color: #430063;
    border: 1px solid gold;
    border-radius: 25px;
    width: 10vw;
    cursor: pointer;
}

#date-filter button:hover {
    transition: background-color 0.3s;
    background-color: #5a0c9e;
}

.ui-datepicker {
    background: #430063; /* Μωβ φόντο */
    border: 1px solid #555;
    color: gold; /* Χρυσά γράμματα */
}
.ui-datepicker-header {
    background: #430063; /* Μωβ φόντο */
    border-bottom: 1px solid #555;
    color: gold;
}

.ui-datepicker-title {
    color: gold; /* Χρυσά γράμματα */
}

.ui-datepicker-calendar .ui-state-default {
    background: #fff; /* Λευκό φόντο για τις ημέρες */
    color: #000; /* Μαύρα γράμματα για τις ημέρες */
}
.ui-datepicker-calendar .ui-state-hover {
    background: gold; /* Χρυσό φόντο για την επιλεγμένη ημέρα */
    color: #430063; /* Μωβ γράμματα για την επιλεγμένη ημέρα */
}

.ui-datepicker-prev span, .ui-datepicker-next span {
    background-color: #ffd700 !important; /* Χρυσό φόντο για τα βελάκια */
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-color: #5a0c9e !important; /* Χρυσά γράμματα για τα βελάκια στο hover */
}

#toggleChartButton{
    margin: 20px auto;
    display: inline-block;
    background-color: #5a197d;
    color: gold;
    border: none;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
    height: 5%;
}

#toggleChartButton{
    transition: background-color 0.3s;
    background-color: #440466;
}

/* Responsive Styles */
@media (max-width: 480px) {
    #date-filter {
        display: grid;
        height: 22vh;
        margin: auto;
    }

    #date-filter label {
        padding: 0;
    }

    .date, #date-filter label, #date-filter button {
        padding: 5px;
        margin: 5px;
        width: 40vw;
    }

    .chart-container {
        width: 100%;
        margin: 5% 2%;
      }

}