body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.main {
    position: relative;
    flex-grow: 1;
    padding: 20px;
  }

.chart-container {
    width: 80%;
    margin: 2% 10%;
    transition: width 0.5s;
}

.canvas-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

.chart-container.doughnut {
    width: 40%;
}

#date-filter {
    margin: 2% 10%;
    background-color: #430063;
    padding: 20px;
    border-radius: 25px;
    justify-content: center;
    color: gold; 
    display: inline-flex;
    width: 60vw;
    height: 8vh;
}

.date, #date-filter label, #date-filter button {
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: gold; 
}

#date-filter label {
    padding: 0;
    align-self: center;
}

.date {
    color: initial;
    font-size: 15px;
    border-radius: 25px;
    width: 14vw;
}

#date-filter button {
    font-size: 15px;
    align-self: center;
    background-color: #430063;
    border: 1px solid gold;
    border-radius: 25px;
    width: 10vw;
    cursor: pointer;
}

#date-filter button:hover {
    transition: background-color 0.3s;
    background-color: #5a0c9e;
}

.ui-datepicker {
    background: #430063;
    border: 1px solid #555;
    color: gold;
}
.ui-datepicker-header {
    background: #430063;
    border-bottom: 1px solid #555;
    color: gold;
}

.ui-datepicker-title {
    color: gold;
}

.ui-datepicker-calendar .ui-state-default {
    background: #fff;
    color: #000;
}
.ui-datepicker-calendar .ui-state-hover {
    background: gold;
    color: #430063;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
    background-color: #ffd700 !important;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-color: #5a0c9e !important;
}

#toggleChartButton{
    margin: 20px auto;
    display: inline-block;
    background-color: #5a197d;
    color: gold;
    border: none;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
    height: 5%;
}

#toggleChartButton{
    transition: background-color 0.3s;
    background-color: #440466;
}

/* Responsive Styles */
@media (max-width: 480px) {
    #date-filter {
        display: grid;
        height: 22vh;
        margin: auto;
    }

    #date-filter label {
        padding: 0;
    }

    .date, #date-filter label, #date-filter button {
        padding: 5px;
        margin: 5px;
        width: 40vw;
    }

    .chart-container {
        width: 100%;
        margin: 5% 2%;
      }

}