body,
html {
    height: 100%; /* Χρειάζεται για να λειτουργήσει σωστά το grid layout */
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    margin: 2vh 0 0 0;
}

#map {
    height: 90vh;
    width: 70vw;
    float: left;
}

.leaflet-top.leaflet-left {
    top: 3%;
    left: 10px;
}

.task-panel {
    height: 92vh;
    width: 30%;
    float: right;
    overflow-y: auto;
    border: 1px solid #000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #430063;
}

.task-panel h2 {
    text-align: center;
    color: gold;
    font-size: 44px;
    margin-bottom: 20px;
}

.list-group-item {
    border: 1px solid #f2f2f2;
    background-color: #430063;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
}

.task-container {
    background-color: #430063;
    color: gold;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-container h5,
.task-container p {
    margin: 5px 0;
}

.btn-task {
    background-color: gold;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-task:hover {
    transition: background-color 0.4s;
    background-color: goldenrod;
}


.task-panel::-webkit-scrollbar {
    width: 12px;
}

.task-panel::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.task-panel::-webkit-scrollbar-thumb {
    background: #888;
}

.task-panel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }

    #map {
        width: 100%;
        height: 40vh;
        margin-left: 20px;
    }
    
    .task-panel {
        width: 100%;
        height: 40vh;
        margin: 0 0 20px 20px;
        padding-bottom: 20px;
    }

    .task-panel h2 {
        font-size: 24px;
        margin: 0 0 10px 0;
    }


    .task-panel {
        scrollbar-width: none;
    }

    .task-panel::-webkit-scrollbar {
        display: none; 
    }
}