.tags-input {
    margin-bottom: 5px;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
  }
  
  .tag {
    display: inline-block;
    margin-right: 5px;
    background-color: #5a197db9;
    color: gold;
    border-radius: 25px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .tag:hover {
    transition: background-color 0.4s;
    background-color: #5a197d;
  }
  
  .tag i {
    cursor: pointer;
  }
  
  .tags-input:focus {
    outline: none;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(104, 2, 187, 0.5);
  }
  
  .custom-dropdown {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    z-index: 100;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .custom-dropdown div {
    padding: 5px 10px;
  }
  
  #categoryFilter div:hover {
    background-color: #f2f2f2;
  }

  #dropElement {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
  }
  
  .category-checkbox-filter:checked {
    accent-color: #9900ffb9;
  }
  
  .category-checkbox-filter:checked + label {
    color: #9900ffb9;
  }

  .custom-dropdown::-webkit-scrollbar {
    width: 10px; 
}

.custom-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1; /* Χρώμα του track */
}

.custom-dropdown::-webkit-scrollbar-thumb {
    background: #888; /* Χρώμα της λαβής */
}

.custom-dropdown::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

select {
  width: 100%; 
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

select option {
  padding: 8px 10px;
  border-bottom: 1px solid #ccc;
}

select option:hover {
  background-color: #800080;
  color: #FFD700;
}

select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

select::-webkit-scrollbar-thumb {
  background: #888;
}

select::-webkit-scrollbar-thumb:hover {
  background: #555;
}