.tags-input {
    margin-bottom: 5px;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
  }
  
  .tag {
    display: inline-block; /* ώστε να μην πιάνουν όλο το πλάτος και να μπορούν να κάνουν scroll */
    margin-right: 5px;
    background-color: #5a197db9;
    color: gold;
    border-radius: 25px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .tag:hover {
    transition: background-color 0.4s;
    background-color: #5a197d;
  }
  
  .tag i {
    cursor: pointer;
  }
  
  .tags-input:focus {
    outline: none;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(104, 2, 187, 0.5);
  }
  
  .custom-dropdown {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    z-index: 100;
    max-height: 300px;  /* ή όποιο ύψος επιθυμείς */
    overflow-y: auto;  /* ενεργοποιεί το κάθετο scroll */
    overflow-x: hidden;  /* κρύβει το οριζόντιο scroll αν δεν είναι απαραίτητο */
  }
  
  .custom-dropdown div {
    padding: 5px 10px;
  }
  
  #categoryFilter div:hover {
    background-color: #f2f2f2;
  }

  #dropElement {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
  }
  
  .category-checkbox-filter:checked {
    /* Προσθέστε τα επιθυμητά στυλ εδώ, π.χ.: */
    accent-color: #9900ffb9; /* Αλλάξτε το χρώμα του checkbox */
  }
  
  .category-checkbox-filter:checked + label {
    color: #9900ffb9; /* Χρώμα όταν το checkbox είναι επιλεγμένο */
  }

  .custom-dropdown::-webkit-scrollbar {
    width: 10px; /* Πλάτος του scrollbar */
}

.custom-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1; /* Χρώμα του track (της διαδρομής που κινείται ο scrollbar) */
}

.custom-dropdown::-webkit-scrollbar-thumb {
    background: #888; /* Χρώμα της λαβής του scrollbar */
}

.custom-dropdown::-webkit-scrollbar-thumb:hover {
    background: #555; /* Χρώμα της λαβής όταν το ποντίκι περνάει πάνω της */
}

/* Βασικό στυλ για όλα τα <select> elements σε όλες τις φόρμες */
select {
  width: 100%; /* Πλήρης πλάτος στο περιβάλλον του container */
  padding: 8px 12px; /* Προσθήκη padding για καλύτερο look και αίσθηση */
  margin: 8px 0; /* Κάποιο margin γύρω από το dropdown */
  box-sizing: border-box; /* Βοηθάει το width να παραμένει σωστό ακόμη και με padding */
  border: 1px solid #ccc; /* Προσθήκη ενός στοιχείου περιμέτρου */
  border-radius: 4px; /* Στρογγυλεμένες γωνίες */
  background-color: white; /* Θέτει το χρώμα φόντου σε λευκό */
  cursor: pointer; /* Αλλάζει το δείκτη σε pointer όταν περνά πάνω */
}

select option {
  padding: 8px 10px; /* Προσθήκη ελαφριάς απόστασης για καλύτερη αισθητική */
  border-bottom: 1px solid #ccc; /* Διαχωριστική γραμμή ανάμεσα στα items */
}

/* Στυλ για τα options όταν το ποντίκι βρίσκεται πάνω τους */
select option:hover {
  background-color: #800080; /* Μωβ φόντο */
  color: #FFD700; /* Χρυσά γράμματα */
}

/* Στυλ για το scrollbar εντός των select elements */
select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

select::-webkit-scrollbar-thumb {
  background: #888;
}

select::-webkit-scrollbar-thumb:hover {
  background: #555;
}