.form-check-input {
    width: 34px; 
    height: 20px;
    position: relative;
    appearance: none;
    background-color: #430063;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.form-check-label{
    font-weight: bold;
    color: #430063;
}

.form-check-input:checked {
    background-color: #af04ff;
}

.form-check-input:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: gold;
    transition: transform 0.3s;
}

.form-check-input:checked:before {
    transform: translateX(14px);
}