table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .custom-select {
    width: 350px;
    position: relative;
  }
  
  body tr:hover {
    background-color: #f9f9f9;
  }

  .search-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  #search_bar {
    flex-grow: 1;
    margin-right: 10px;
    text-align: center;
  }
  
  #search-input {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0px 10px 40px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  
  .icon {
    text-align: center;
    color: #7b23aa;
    margin-left: -40px;
    margin-right: 40px;
  }
  
  #search-button {
    background-color: #5a197d;
    color: gold;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  #search-button:hover {
    transition: background-color 0.4s;
    background-color: #440466;
  }

  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #prev,
  #next {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
  }
  
  #prev:not(:disabled):hover,
  #next:not(:disabled):hover {
    background-color: #ddd;
  }
  
  #prev:disabled,
  #next:disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: default;
  }

.ui-autocomplete {
    border: 1px solid #ccc;
    background: #FFF;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
}

.ui-menu .ui-menu-item  {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}

ui-menu .ui-menu-item :hover,
.ui-menu .ui-menu-item .ui-state-focus,
.ui-menu .ui-menu-item .ui-state-active {
background: #9900ffb9;
color: gold;
}

.ui-menu .ui-menu-item:last-child  {
border-bottom: none;
}

.ui-autocomplete::-webkit-scrollbar {
  width: 8px;
}

.ui-autocomplete::-webkit-scrollbar-track {
  background: #f0f0f0; /* Χρώμα του track */
}

.ui-autocomplete::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Χρώμα της λαβής */
  border-radius: 10px;
}

.ui-autocomplete::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.history_requests,
.history_offers{
  display: none;
}

.history-container {
  display: flex;
  justify-content: space-between;
}

.history-table {
  flex: 1;  /* Οι πίνακες πιάνουν ίσο χώρο */
  padding: 10px;
}

.history-table h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.history-table table{
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  table th, table td {
    font-size: small;
    text-align: center;
    height: 40px;
    min-width: 110px;
    padding: 2% 0;
    border: 1px solid #ddd;
  }

  #search_bar {
    flex-grow: 0;
    margin: 0;
    text-align: initial;
  }
  
  #search-input {
    width: 45vw;
    padding: 10px 10px;
  }

  #search-button {
    display: inline;
  }

  .custom-select {
    width: 80vw;
    position: relative;
  }

  .history-container {
    display: block;
  }
}