.container {
  display: flex; /* Use flexbox layout */
  padding: 0 !important;
  margin: 70px 0 0 0 !important; /* Adjust margin for the toolbar */
}

.toolbar {
  background-color: #f2f2f2; /* Light gray background */
  position: sticky; /* Sticky positioning */
  top: 70px !important;
  left: 0 !important; 
  height: calc(100vh - 70px); /* Full height minus the height of the header */
  width: 200px; /* Set a fixed width for the toolbar */
  padding: 10px; /* Padding for spacing inside the toolbar */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align items to the start */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  z-index: 999; /* Ensure it has a high z-index */
}

.toolbar button {
  margin: 10px 0; /* Add margin between buttons for better spacing */
}

.hidden {
  display: none !important; /* Hide the toolbar */
}

@media only screen and (max-width: 480px) {
  .toolbar {
    display: none; /* Hide the toolbar for phones' screens */
  }

  .toolbar.show {
    display: flex; /* Show the toolbar when the button is clicked */
  }

  .container {
    margin-left: 0; /* Remove the left margin for small screens */
  }
}
