.show-toolbar {
  display: none;
}

#show-add-form,
#delete-all-button,
#show-check-categories-form,
#show-load-data-form,
#show-delete-categories-form,
#show-load-quantities-form,
#show-base-cargo,
#unload-vehicle-cargo,
#Show_History_Requests,
#unload-vehicle-cargo, 
#show-add-announcement-form,
#Show_History_Offers {
  position: relative;
  background-color: #5a197d;
  color: gold;
  border: none;
  border-radius: 25px; /* Δημιουργεί στρογγυλεμένα άκρα */
  padding: 8px 16px;
  margin: 10% 2%;
  cursor: pointer;
  width: 100%;
  height: 65%;
  box-sizing: border-box;
}

#unload-vehicle-cargo{
  display: none;
}

#show-add-form:hover,
#show-add-announcement-form:hover,
#delete-all-button:hover,
#show-check-categories-form:hover,
#show-load-data-form:hover,
#show-delete-categories-form:hover,
#show-load-quantities-form:hover,
#show-base-cargo:hover,
#unload-vehicle-cargo:hover,
#Show_History_Requests:hover,
#Show_History_Offers:hover {
  transition: background-color 0.3s;
  background-color: #440466;
}

/* Responsive Styles */
@media only screen and (max-width: 480px) {
  /* A button with an arrow icon that reveals the toolbar*/
  .show-toolbar {
    display: flex;
    position: relative;
    background: transparent;
    border: none;
    padding: 5px;
    margin: 5px 0 0 0;
    cursor: pointer;
  }

  .show-toolbar img {
    width: 30px;
    height: 30px;
    margin: 0 0 5px 0;
  }
}
