.container {
  display: flex;
  padding: 0 !important;
  margin: 70px 0 0 0 !important; /* Κενό πάνω από το toolbar για το Header */
}

.toolbar {
  background-color: #f2f2f2;
  position: sticky;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 999;
}

.toolbar button {
  margin: 10px 0;
}

@media only screen and (max-width: 480px) {
  .toolbar {
    display: none;
  }

  .toolbar.show {
    display: flex;
  }
}
