/* Στυλ για το body */
body {
    font-family: Arial, sans-serif;
    background:none;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Στυλ για τον τίτλο */
h1 {
    text-align: center;
    margin-top: -47px;
    font-size: 24px;
    color:  gold;
    text-shadow: 2px 2px 4px rgba(241, 239, 215, 0.5);
}

h2.Username-H2{
    position: relative;
    right: 70px;
    top: 40px;
}

h2.Email-H2{
    position: relative;
    right: 145px;
}

div.Info{
    color: #333;
}

/* Στυλ για τα div που περιέχουν τα πεδία */
div {
    margin: 10px;
    text-align: center;
}

/* Στυλ για τις εικόνες */
img#adminPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}

#adminUsername{
    position: relative;
    top: -4px;
    left:120px;
    font-size: 20px;
}

#adminEmail{
    position: relative;
    top: -44px;
    left:55px;
    font-size: 20px;
}

/* Στυλ για τα κουμπιά */
button#changePasswordButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#changePasswordButton:hover {
    background-color: #0056b3;
}

/* Στυλ για τη φόρμα αλλαγής κωδικού */
#changePasswordForm {
   display: none;
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 5px;
    font-weight: bold;
}

.input {
    width: 300px;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.icon {
    position:absolute;
    margin-top: 28px ;
    margin-right: 250px;
    right: 50px;
    transform: translateY(-40%);
  }
  
  .icon i {
    font-size: 18px;
    color: #838181;
  }

  .container {
    position: relative;
    top: 100px;
    left: 30%;
    border: 1px solid #ccc; /* Ορια με γκρι χρώμα */
    border-radius: 10px; /* Κυκλικά ορία */
    padding: 40px; /* Εσωτερικό padding */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Σκιάση */
    max-width: 800px; /* Μέγιστο πλάτος του container */
    
}


.image-container {
    margin-left: 335px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
}

.image-container .overlay {
    position: absolute;
    color: white;
    top: -7px;
    left: -8px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; /* Ρύθμιση μεγέθους συμβόλου */
    opacity: 0;
    transition: background 0.3s ease, opacity 0.3s ease;
}

.image-container:hover img {
    filter: brightness(20%);
}

.image-container:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}