body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #430063;
    color: white;
    padding: 10px 20px;
}

.admin-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-name {
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;
    margin-top: 40px;
    color: black;
}

nav a {
    color: white;
    text-decoration: none;
    position: relative; /* Προσθήκη θέσης στοιχείου για το εφέ */
    transition: color 0.3s, transform 0.3s; /* Μετάβαση χρώματος και μετασχηματισμού */
}

nav a:hover {
    color: #FFD700; /* Αλλαγή χρώματος κατά το hover */
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
    transition: color 0.3s ease-in-out;
}



table {
    width: 100%;
    border-collapse: collapse;
}

/* Στυλ για την επικεφαλίδα του πίνακα */
table th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Στυλ για τις γραμμές του πίνακα */
table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Κατάλληλο περιθώριο για τα κελιά */
table td,
table th {
    margin: 0;
}

#search_bar
{
    text-align: center;
    position: relative;
    top: -60px;
}

/* Στυλ για το search bar */
#search-input {
    width: 100%;
    max-width: 400px; /* Ορίστε το πλάτος του search bar όπως θέλετε */
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px; /* Δημιουργεί στρογγυλεμένα άκρα */
    font-size: 16px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px; /* Το πλάτος του εικονιδίου + περιθώριο */
}

/* Στυλ για το κουμπί αναζήτησης */
#search-button {
    background-color: #e57aff;
    color: gold;
    border: none;
    border-radius: 25px; /* Δημιουργεί στρογγυλεμένα άκρα */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px; /* Μικρό περιθώριο μεταξύ του κουμπιού και του search bar */
    cursor: pointer;
}

/* Στυλ για το κουμπί "Αναζήτηση" όταν είναι σε hover */
#search-button:hover {
    transition: background-color .4s;
    background-color:  #e05cfd;
}

#delete-all-button
{
    background-color: rgb(255, 59, 59);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px; /* Δημιουργεί στρογγυλεμένα άκρα */
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 35px;
    right: -10px;
    cursor: pointer;
}

#delete-all-button:hover
{
    transition: background-color .4s;
    background-color:  red;
}

#show-add-product-form
{
    background-color: rgb(0, 255, 34);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px; /* Δημιουργεί στρογγυλεμένα άκρα */
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    right: -10px;
    top: 20px;
    cursor: pointer;
}

#show-add-product-form:hover
{
    transition: background-color .4s;
    background-color: rgb(36, 221, 61);
}

/* Αφαιρούμε το προεπιλεγμένο border του input κατά την επιλογή του */
#search-input:focus {
    outline: none;
    border: 2px solid #e05cfd;
}

.icon
{
    text-align: center;
    color: #e05cfd;
    margin-left: -40px;
    margin-right: 40px
}

h1
{
    text-align: center;
    margin-top: -47px;
    font-size: 24px;
    color:  gold;
    text-shadow: 2px 2px 4px rgba(241, 239, 215, 0.5);
}

#add-product-form-container{
    width: 325px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#430063; /* Θολό φόντο με χρώμα */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Σκιά */
    z-index: 2;
}

#add-product-form {
    text-align: center;
}

#add-product-form label {
    display: block;
    font-weight: bold;
    color: gold; /* Χρυσό χρώμα για τις ετικέτες */
}

#add-product-form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#add-product-form button[type="submit"] {
    background-color: green; /* Μωβ χρώμα για το κουμπί */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#add-product-form button:hover
{   
    transition: background-color .4s;
    background-color: rgb(0, 179, 0);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Χρώμα για το θολό φόντο με 50% διαφάνεια */
    z-index: 1; /* Τοποθετούμε το θολό φόντο πίσω από τα άλλα στοιχεία */
    display: none; /* Αρχικά αόρατο */
    
}

#pagination {
    display: inline-block;
    position: relative;
    bottom: -2px;
}
  
  #pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }

  
  #pagination button:hover:not(.active) 
  {
    background-color: #ddd;
}


  .filter-label {
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    top: -40px;
    right: 2px;
}

/* Στυλισμός επιλογών φίλτρων */
.filter-select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    top: -40px;
    right: 2px;
}

/* Στυλισμός επιλογών φίλτρων όταν είναι επιλεγμένες */
.filter-select:focus {
    outline: none;
    border: 1px solid #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}